<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {%- comment -%} Language switch {%- endcomment -%}
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            {% if page.url contains '/en/' %}
              <a href="{{ '/' | relative_url }}" target="_self" class="lang-link">
                <img class="svg" src="{{ '/images/cn.svg' | relative_url }}" width="20pt" alt="中文">
                中文
              </a>
            {% else %}
              <a href="{{ '/en/' | relative_url }}" target="_self" class="lang-link">
                <img class="svg" src="{{ '/images/en.svg' | relative_url }}" width="20pt" alt="English">
                English
              </a>
            {% endif %}
          </li>

          {%- comment -%} Nav links (choose by language) {%- endcomment -%}
          {% assign nav = site.data.navigation.main %}
          {% if page.url contains '/en/' %}
            {% assign nav = site.data.navigation_en.main %}
          {% endif %}

          {% for link in nav %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
